[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "sre"
url = "$SRE_PACKAGE_FEED"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
pytest-azurepipelines = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
victoria-smoke = {editable = true,path = "."}
click = "*"
marshmallow = "*"
victoria = {index = "sre",version = "*"}
jinja2 = "*"

[requires]
python_version = "3.7"
