[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "sre"
url = "$SRE_PACKAGE_FEED"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
pytest-azurepipelines = "*"
setuptools = "*"
wheel = "*"
twine = "*"
keyring = "*"
artifacts-keyring = "*"

[packages]
victoria = {index = "sre",version = "*"}
victoria-smoke = {editable = true,path = "."}
click = "*"
marshmallow = "*"
jinja2 = "*"
faker = "==2.0.4"
sremail = {index = "sre",version = "*"}
pyyaml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
